{% extends 'base.html' %}

{% block content %}
{% if messages is not None %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<form action="register" method="post">
  {% csrf_token %}
    <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" name="username" class="form-control" id="inputUsername">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email Id</label>
    <input type="email" name="email" class="form-control" id="inputEmail">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" class="form-control" id="inputPassword">
  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{% endblock %}